body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.split img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

h2 {
    margin-top: 0;
}

.button {
    display: inline-block;
    background: lightblue;
    color: white
    padding 12px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px
    font-weight bold
    width fit-content;
}

@media (max-width: 760px) {
    .container {
        flex-direction: column;
    }
    .split {
        padding: 20px;
    }
    .split img {
        height: auto;
    }
}