body{
    background: lightslategray;
}

.container {
    display: flex;
    width: 100%;
    background-color: #fff;
    flex-wrap: wrap;
}

.flex-item {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;
    border: 1px solid #D3D3D3;

    display: flex;
    flex-direction: column;
}

.flex-img img {
    max-width: 100%;
}

.flex-info {
    margin-top: auto;
}

@media (max-width: 600px) {
    .fkex-item {
        flex: 1 45%;
    }
}

img { 
    width: 100%;
    height: auto;
}